@import "tailwindcss";
/* for custom css */

/* @custom-variant dark (&:where(.dark, .dark *));

@custom-variant light (&:where(.light, .light *)); */
.paragraph-centered-blue {
    text-align: center;
    color: blue;
    margin-top: 3rem;
}
.full-cover {
    display: block;
    object-fit: cover;
    width: 100%;
}
.bannerImg{
    object-position: center;
	filter: brightness(50%);
	height: 20rem;
	object-position: bottom;
}